@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
	--primary-color: rgba(13,110,139,0.75);
	--overlay-color: rgba(24,39,51,0.85);
	--menu-speed: 0.75s;

}

*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.menu-wrap {
	position: relative;
	top: 1rem;
	right: 1rem;
	z-index: 100;
}

.menu-wrap .toggler {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 2;
	cursor: pointer;
	width: 50px;
	height: 50px;
	opacity: 0;
}

.menu-wrap .hamburger {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 1;
	width: 60px; 
	height: 60px;
	border: 2.5px #fff solid;
	padding: 1rem;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-wrap .hamburger> div {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
}

.menu-wrap .hamburger> div::before,
.menu-wrap .hamburger> div::after {
	content: '';
	position: absolute;
	z-index: 1;
	top: -10px;
	width: 100%;
	height: 2px;
	background-color: inherit;
}

.menu-wrap .hamburger> div::after {
	top: 10px;
}

/*Toggler animate*/
.menu-wrap .toggler:checked + .hamburger  > div {
	transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger  > div:before,
.menu-wrap .toggler:checked + .hamburger  > div:after {
	top: 0;
	transform: rotate(90deg);
}

/*Rotate on hover when checked*/

.menu-wrap .toggler:checked:hover + .hamburger  > div {
	transform: rotate(225deg);
}

/*Show menu */

.menu-wrap .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*opacity: .9;*/
	visibility: hidden;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

.menu-wrap .menu.show{
	visibility: visible;
}

.menu-brand, .menu-nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	float: left;
	width: 50%;
	height: 100vh;
	overflow: hidden;
}

.menu-nav {
	margin: 0;
	background: rgba(24,39,51,.95);
	list-style: none;
	transform: translate3d(0, -100%, 0);
	transition: all 0.4s ease-out;
}

.menu-nav.show {
	transform: translate3d(0, 0, 0);
}

.menu-brand {
	background: rgba(13,110,139, .7);
	transform: translate3d(0, 100%, 0);
	transition: all 0.4s ease-out;
}

.menu-brand .portrait {
	width: 250px;
	height: 250px;
	background: url(new.jpg) center;
	background-size: cover;
	border-radius: 50%;
	border: solid 3px var(--overlay-color);
}

.menu-brand.show {
	transform: translate3d(0, 0, 0);
}

.menu-nav .nav-item {
	color: #fff;
	font-size: clamp(.5rem, calc(2vw + .5rem), 1.5rem);
	padding: 1rem;
	transform: translate3d(600px, 0, 0);
	transition: all 0.5s ease-out;
}

.nav-item.current > a {
	color: var(--primary-color);
}

.nav-item.show {
	transform: translate3d(0, 0, 0);
} 

.nav-item:nth-child(1).show {
	transition-delay: 0.1s; 
}

.nav-item:nth-child(2).show {
	transition-delay: 0.2s; 
}

.nav-item:nth-child(3).show {
	transition-delay: 0.3s; 
}

.nav-item:last-child.show {
	transition-delay: 0.4s; 
}

.nav-item .nav-link{
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.4s ease-out;
}

.nav-item .nav-link:hover {
	color: var(--primary-color);
}

/*Media Queries*/
@media screen and (max-width: 500px) {

}

@media screen and (max-width: 768px) {
	.menu {
		display: block;
	}

	.menu-brand, .menu-nav {
		float: none;
		width: 100%;
		min-height: 0;
	}

	.menu-brand.show, .menu-nav.show {
		transform: translate3d(0, 0, 0);
	}

	.menu-nav {
		height: 75vh;
		transform: translate3d(-100%, 0, 0);
	}

	.menu-brand {
		height: 25vh;
		transform: translate3d(100%, 0, 0);
	}

	.menu-brand .portrait {
		width: 150px;
		height: 150px;
	}

	.menu-wrap .hamburger {
		width: 40px; 
		height: 40px;
		padding: .5rem;
	}

	.header-container h3.greeting {
		grid-row: 6;
		grid-column: 2 / 4;
		align-self: center;
	}

	.header-container .line {
		grid-row: 7;
		grid-column: 2 / 6;
		text-align: start;
	}

	.header-container .name {
		grid-row: 8;
		grid-column: 2;
	}

	.header-container .job-title {
		grid-row: 9;
		grid-column: 2 / 7;
		text-align: start;
	}

}

@media screen and (min-width: 769px) and (max-width: 1170px) {
	.header-container .line {
		grid-row: 8;
		grid-column: 4 / 7;
	}

	.header-container .name {
		grid-row: 8;
		grid-column: 7 / 9;
	}

	.header-container .job-title {
		grid-row: 9;
		grid-column: 5 / 9;
	}
}

@media screen and (min-width: 1171px) {
	
}


@media screen and (max-width: 1250px) {

	.sidebar {
		visibility: hidden;
	}
}


/*Sidebar*/

.sidebar {
	width: 60px;
	height: 100vh;
	background-color: rgba(42, 44, 46, .6);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	overflow: auto;
	transition: all .4s ease-out;
}

.sidebar ul li {
	list-style: none;
	color: #fff;
	font-size: 1rem;
	padding: .5rem;
}

.sidebar ul li a {
	color: inherit;
	text-decoration: none;
	transition: all .4s ease-out;
}

.sidebar.close {
	/*visibility: hidden;*/
	transform: translateY(-100%);
	transition: all .3s ease;
}

.sidebar ul li a:hover {
	color: var(--primary-color);
}

/*Header section*/

.header-container {
	position: relative;
	width: 100%;
	height: 100vh;
	display: grid;

	color: #fff;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	background: rgba(64, 64, 64, .25);
}

.header-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(ledder.jpg) center;
	background-size: cover;
	z-index: -1;
}

.header-container .greeting, p.name {
	font-weight: bold;
	font-size: clamp(.5rem, calc(2.5vw + .5rem), 3.7rem);
	text-transform: uppercase;
	letter-spacing: .5rem;
	margin-right: -.5rem;
	margin-top: 0;
	margin-bottom: 0;
}

.header-container .greeting {
	grid-row: 7;
	grid-column: 3 / 5;
}

p.line {
	grid-row: 8;
	grid-column: 4 / 6;
	align-self: center;
	text-align: center;
	background-color: var(--overlay-color);
	padding: .5em 1em;
	margin-right: 2em;
}

p.name {
	grid-row: 8;
	grid-column: 6;
	align-self: center;
}

p.job-title {
	grid-row: 9;
	grid-column: 5 / 8;
	align-self: center;
	text-align: center;
	background-color: var(--primary-color);
	padding: .5em 1em;
}

/*Skills section */

section.skills {
	min-height: 100vh;
	background-color: #362d49;
	color: #fff;
	display: flex;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items:center;
}

.card {
	width: 300px;
	perspective:800px;
}

/*.card:first-child {
	margin-top: 3em;
}
*/
.card + .card {
	margin-left: 2em;
}

.card-content {
	text-align: center;
	position: relative;
	padding: 15em 5em;
	background: #6a6384;
	transition: transform 3s;
	transform-style: preserve-3d;
}

.card-content::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 50%;
	background: rgba(255,255,255, 0.15);
	pointer-events: none;
}

.card:hover .card-content{
	 transform: rotateY(.5turn);
}

.card-front,
.card-back {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 2em;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.card-title {
	font-size: clamp(.5rem, calc(2.5vw + .5rem), 2rem);
	transform: translateZ(5rem);
}

.subtitle {
	margin-top: 4rem;
	transform: translateZ(4rem);
}

.card-front {
	display: grid;
	align-content: center;
	cursor: pointer;
}

.card-back {
	transform: rotateY(.5turn);
	background: lightgreen;
}

.card-body {
	transform: translateZ(3rem);
}

.fa-chevron-left, .fa-chevron-right, .fa-slash {
	font-size: 5rem;
	opacity: .55;
}

.fa-slash {
	transform: rotateX(180deg);
}

/*Projects section*/

section.projects {
	background-color: grey;
	min-height: 100vh;
	padding: 10px 30px 10px 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	/*margin-top: 4rem;*/
	z-index: 1;
	/*position: absolute;*/
}

.container {
	/*position: relative;*/
	/*display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0 40px;*/
	
}

.box {
	position: relative;
	height: 250px;
	width: 350px;
	background: url(img1.jpg) center;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4rem;
	margin-right: 2rem;
}

 .box::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255,255,255, 0.3);
	pointer-events: none;
}

.box .content {
	position: relative;
	padding: 1rem;
	font-size: .8rem;
}

.box .content h1 {
	position: absolute;
	top: 10px;
	right: 55px;
	padding: 0;
	margin: 0;
	font-size: 10em;
	color: rgba(255, 255, 255, .3);
	transition: all 0.5s ease-out;
}

.box:hover .content h1 {
	top: -60px;
}

.box .content h3 {
	margin: 0 0 10px;
	padding: 0;
	font-size: 2rem;
	color: #fff;
}

.box .content p {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 1rem;
}

.box .content a {
	position: relative;
	padding: 10px 20px;
	margin: 20px 0 0;
	text-decoration: none;
	border: 1px solid #fff;
	display: inline-block;
	color: #fff;
	transition: .5s;
	transform: translateY(-40px);
	opacity: 0;
	visibility: hidden;
}

.box:hover .content a {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}



@media (max-width: 1300px) {
	

section.skills {
	padding-bottom: 3em;
}
section.projects {
	padding: 30px;
}
}


